
body, a {
	color: #2D2C31;
	font-family: 'DotGothic16';
	font-size: 16px;
	/* letter-spacing: 0.05ch; */
	line-height: 1;
}

main {
	margin: 15% auto;
	width: 70%;
}

#text, #image{
	padding: 2%;
}

#text {
	width: 40%;
	display: inline-block;
	/* background-color: aqua; */
}

.hover-media{
	margin-left: 5%;
	width: 40%;
	height: 250px;
	background-color: white;
	border: 0px;
	display: none;
	object-fit: cover;
}

video.hover-media {
	max-width: 100%;
}